<div id='create-user' style='text-align:center'><%= link_to 'Create Humans!', create_user_path, method: :post %></div>
<div id='clear-users' style='text-align:center'><%= link_to 'Let Nature do its thing!', natural_law_path, method: :post %></div>
<div id='clear-users' style='text-align:center'><%= link_to 'Scorch the Earth!', clear_users_path, method: :post %></div>

<h1><%= @user_array %></h1>
<h1><%= @new_user_array %></h1>
